{% load static %}
<html>
    <head>
        <title>tantrojan blog</title>
        <link rel="stylesheet" href="{%static "css/blog.css" %}">
        <link rel="stylesheet" href="{%static "css/bootstrap.css"%}">
        <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
    </head>
    <body>
      <div class="page-header" id='heading'>
          <h1><a href="/">Tantrojan BLOG</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
