/*
  USER_DEFINED STYLING
*/
/*#heading{
  background-image: url("blog.jpg");
  text-align: center;
  height: 300px;
}
*/
h1{
  font-family: 'Lobster';
}
#H{
  color: black;
  font-family: 'Lobster';
  font-size: :300px;
}
